
@import "tailwindcss"; 
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  min-width: 320px;
  min-height: 100vh;
  display: flex; 
  flex-direction: column; /* stack header, main, footer vertically */
  margin: 0;
  background: #eaeaea;
  font-family: "Roboto", sans-serif;
  font-weight: 400; 
  font-size: 16px; 
  color: #333333; 
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
